/Assets/ExampleAssets/Models/XRControllerLeft.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/XRControllerRight.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Models/T-node.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Models/Teslasuit_Man.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_MAT_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Hair_opacity[[:space:]]mask.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Head_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Head_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_SM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/eyelash_opacity[[:space:]]mask.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Autofac.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Autofac.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Castle.Core.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Castle.Core.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/teslasuit.api.NET.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Scripts/Utils/Clipper.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Climate/Standard[[:space:]]Assets/ParticleSystems/Textures/ParticleFlamesSheet.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Climate/prefab/FireComplex.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Mocap/images/Mocap_3.PNG filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Mocap/images/Mocap_6.PNG filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/_SCENES/HapticRaycasting.unity filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/ConstructionLight_Low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workbench.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workbench_Low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workshop_Set.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/jigsaw_low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/paintbucket_low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/DrywallPainted_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Metal/Metal_MetallicSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Elastic_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Elastic_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRidges_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRidges_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRough_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRough_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Plastic_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Construction_Light/ConstructionLight_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Construction_Light/ConstructionLight_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_MetallicOcculusionRoughness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint5G_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Scene.unity filter=lfs diff=lfs merge=lfs -text
