/Assets/ExampleAssets/Models/XRControllerLeft.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/XRControllerRight.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Models/T-node.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Models/Teslasuit_Man.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_MAT_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Gloves_boots_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Hair_opacity[[:space:]]mask.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Head_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Head_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_AM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_NM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/Suit_SM.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Graphics/Textures/SkeletoolAvatar/eyelash_opacity[[:space:]]mask.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Autofac.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Autofac.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Castle.Core.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/Castle.Core.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Plugins/Teslasuit/Standalone/teslasuit.api.NET.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Scripts/Utils/Clipper.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Climate/Standard[[:space:]]Assets/ParticleSystems/Textures/ParticleFlamesSheet.png filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Climate/prefab/FireComplex.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Mocap/images/Mocap_3.PNG filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/Mocap/images/Mocap_6.PNG filter=lfs diff=lfs merge=lfs -text
/Assets/Teslasuit/Tutorials/_SCENES/HapticRaycasting.unity filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/ConstructionLight_Low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workbench.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workbench_Low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/Workshop_Set.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/jigsaw_low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Models/paintbucket_low.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Concrete/Ground_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/DrywallPainted_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Drywall/Drywall_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Metal/Metal_MetallicSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Elastic_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Elastic_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRidges_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRidges_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRough_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/PlasticRough_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Plastic/Plastic_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Construction_Light/ConstructionLight_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Construction_Light/ConstructionLight_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Hammer/Hammer_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/HardHat/SafetyHat_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Jigsaw/Jigsaw_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_MetallicOcculusionRoughness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint1G_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paint5G_AlbedoSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Props/Paint/Paintbrush_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/OBS_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_MetallicOcculusionSmoothness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/ExampleAssets/Textures/Wood/Plywood_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/suitData.csv filter=lfs diff=lfs merge=lfs -text
/Assets/MoCap.mocap filter=lfs diff=lfs merge=lfs -text
/Assets/mocap.csv filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/SampleScene.unity filter=lfs diff=lfs merge=lfs -text
/Build/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll filter=lfs diff=lfs merge=lfs -text
/Build/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll filter=lfs diff=lfs merge=lfs -text
/Build/MonoBleedingEdge/etc/mono/browscap.ini filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project.exe filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Assembly-CSharp.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Autofac.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Castle.Core.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Mono.Data.Sqlite.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Mono.Posix.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Mono.Security.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Mono.WebBrowser.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Newtonsoft.Json.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Novell.Directory.Ldap.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.ComponentModel.Composition.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Configuration.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Core.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Data.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Design.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Drawing.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Net.Http.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Numerics.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Runtime.Serialization.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Security.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.ServiceModel.Internals.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Web.Services.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Web.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Windows.Forms.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Xml.Linq.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.Xml.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/System.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Unity.Mathematics.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Unity.RenderPipelines.Core.Runtime.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Unity.RenderPipelines.Universal.Runtime.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Unity.TextMeshPro.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/Unity.Timeline.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.AnimationModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.CoreModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.IMGUIModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.ParticleSystemModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.Physics2DModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.TextCoreModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.UI.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/UnityEngine.UIElementsModule.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/mscorlib.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Managed/teslasuit.api.NET.dll filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/MoCap.mocap filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Resources/unity[[:space:]]default[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/globalgamemanagers filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/globalgamemanagers.assets filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/globalgamemanagers.assets.resS filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/level1 filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/level1.resS filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/resources.assets filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
/Build/My[[:space:]]project_Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
/Build/UnityCrashHandler64.exe filter=lfs diff=lfs merge=lfs -text
/Build/UnityPlayer.dll filter=lfs diff=lfs merge=lfs -text
